@import url("topography.css");
.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}
.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}
.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: 0.01875rem;
  font-size: 0.775rem;
  padding: 0 10px;
  line-height: 0.7rem;
}
.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}
.maketforfigma p > a:hover {
  color: #ffffff;
}
.main {
  flex: 1 0 auto;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: #555555;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: Josefin Sans, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section {
  margin: 0 auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0 40px;
  background-color: #292e36;
}
.container_pink {
  background-color: #fff8f5;
}
.container_white {
  background-color: #fff;
}

.header {
  background-color: #292e36;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
  border-bottom: 1px solid #5c6168;
}
.header__tel-btn {
  border: 2px solid #e1b168;
  background-color: transparent;
  width: 295px;
  height: 73px;
  color: #fff;
  cursor: pointer;
}
.header__btn {
  width: 295px;
  height: 73px;
  letter-spacing: 0.44px;
  background-color: #e1b168;
  cursor: pointer;
  border: none;
}
.header__navigation {
  padding: 26px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 60px;
  color: #ffffff;
  cursor: pointer;
}
.nav__item_active {
  color: #e1b168;
}
.nav__link:active,
a:focus,
a:hover {
  color: #e1b168;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
/* .icons-link:active,
.icons-link-img:focus,
.icons-link-img:hover {
  fill: #e1b168;
  color: #e1b168;
} */

.hero {
  background-color: #292e36;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 40px;
  padding-right: 10px;
}

.description_white {
  color: #ffffff;
  margin-bottom: 35px;
}

.hero {
  border: 2px dashed #5c6168;
  stroke-dasharray: 200%;
}

.hero__right {
  position: relative;
}
.hero__photo-box {
  display: flex;
}
.frame_top {
  background-color: rgba(255, 255, 255, 0.1);
  width: 655px;
  height: 30px;
  margin: 0 30px;
}
.frame_left,
.frame_right {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 769px;
}
.frame_right {
}
.hero__img {
  border-radius: 626px 626px 0 0;
  margin: 30px 30px 0 30px;
}
.hero__img-stamp {
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #fff8f5;
}
.info__list {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}
.info__item {
  display: flex;
  gap: 20px;
}
.info__item_img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: #292e36;
}
.info__item_title {
  font-family: Cormorant Infant, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;

  margin-bottom: 5px;
}

.story {
  display: flex;
  gap: 45px;

  padding: 84px 40px 125px 40px;
  background-color: #fff8f5;
}

.story__list {
  display: flex;
  gap: 50px;

  margin-top: 25px;
  margin-bottom: 20px;
}
.story__sign {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menu {
  padding-top: 140px;
  padding-bottom: 140px;
}

.section-name__text_white {
  color: #ffffff;
}

.section-flex {
  display: flex;
  gap: 55px;
}
.menu__left p {
  width: 486px;
}
.menu__img {
  margin-top: 45px;
  margin-bottom: 60px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 74px;
}
.menu__item {
  display: flex;
  align-items: center;
  width: 100%;
}
.menu__item img {
  margin-right: 20px;
}
/* .menu__item::after {
  content: "";
  border-bottom: 1px solid #5c6168;
  flex-grow: 1;
  order: 2;
} */
/* .menu__line{
  height: 2px;
  background-color:#AAAAAA;
  width: 100%;
} */
.menu__right {
  width: 100%;
}
/* .menu__item_line{
  width: 100%;
} */
.menu__descr {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.menu__line {
  flex-grow: 1;
  border-bottom: 2px solid #aaa;
  margin: 0px 9px 12px 10px;
}

.testimonial {
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #292e36;
  overflow: hidden;
}
.review {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 80px;
}
.review__item {
  background-color: #343942;
  width: 544px;
  padding: 0 40px;
  color: #ffffff;
}
.review__user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #797e89;
  margin-bottom: 32px;
}
.review__user-photo {
  border-radius: 50%;
}
.review__quotes-box {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #292e36;
  background-color: #e1b168;
  width: 30px;
  height: 30px;
}
.review__user-city {
  color: #e1b168;
}
.review__text {
  font-family: Cormorant Infant, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.56;
  letter-spacing: 0.25px;
}
.dots-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: rgba(51, 51, 51, 0.4);
}
.dots__1 {
  background-color: #ffffff;
}
.dots__2 {
  background-color: rgba(255, 255, 255, 0.4);
}

.offers {
  padding-top: 140px;
  padding-bottom: 60px;
  text-align: center;
}
.offers__list {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.offers__item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  text-align: left;
}
.offers__item_blue {
  background: url(../img/offers/offer-blue-bg.jpg) center / cover no-repeat;
}
.offers__item_gray {
  background: url(../img/offers/offer-gray-bg.jpg) center / cover no-repeat;
}
.cloud-box {
  position: relative;
  margin-bottom: 10px;
}
.cloud-box__price {
  position: absolute;
  left: 40px;
  top: 0;
  text-align: center;
}

.cloud-box__text {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 0.7;
  letter-spacing: 0.15px;
  color: #292e36;
}
.cloud-box__num {
  font-family: Cormorant Infant, sans-serif;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #292e36;
}
.cloud-box__text_white {
  color: #fff;
}
.offers__img {
  width: 307px;
  height: 232px;
}
.offer {
  display: inline-block;
  border-top: 1px solid #292e36;
  border-bottom: 1px solid #292e36;
  margin-bottom: 12px;

  text-transform: uppercase;
  font-size: 15px;
  color: #292e36;
  letter-spacing: 4.5px;
}

.popular {
  padding-top: 60px;
  padding-bottom: 140px;
  text-align: center;
}
.popular__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 65px;
}
.popular__item img {
  max-width: 318px;
  height: 307px;
}
.popular__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 11px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
}
.popular__text-box h3,
.popular__text-box p {
  font-family: Cormorant Infant, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #292e36;
}
.popular__descr {
  text-align: left;
}

.services {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #292e36;
  color: #fff;
}
.container__services {
  display: flex;
  gap: 90px;
}
.services__list {
  display: flex;
  gap: 30px;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border: 20px solid #323841;
  width: 254px;
  height: 235px;
}
.services__txt {
  font-family: Cormorant Infant, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.blog {
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: #fff;
  text-align: center;
}
.blog__list {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}
.blog__item {
  width: 50%;
}
.blog__img-container {
  position: relative;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 384px;
}
.blog__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;
  border: 2px solid#E1B168;
  background-color: #e1b168;
  padding: 20px 57px;
  letter-spacing: 0.44px;
}
.blog__bottom-part {
  width: 640px;
  padding: 50px 46px 38px;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  text-align: left;
}
.blog__date {
  display: flex;
  gap: 30px;
  margin-bottom: 26px;
}

.reservation {
  background-color: #292e36;
  position: relative;
  background: url(../img/reservation-bg.jpg) center / cover no-repeat;
  max-width: 1440px;
  height: 977px;
}
.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 920px;
  height: 697px;
  background-color: rgba(41, 46, 54, 0.95);
  padding: 140px;
  text-align: center;
  color: #fff;
}

.form__group_1 {
  display: flex;
  gap: 26px;
  margin-bottom: 30px;
}
.form__input {
  background-color: transparent;
  border: 1px solid #858585;
  height: 70px;
  padding: 18px 23px;
  font-family: Josefin Sans, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  outline: transparent;
}
.form__input::placeholder {
  font-family: Josefin Sans, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: #fff;
}
.form__input_1 {
  width: 307px;
}
.form__group_2 {
  display: flex;
  gap: 23px;
  margin-bottom: 30px;
}
.form__input_2 {
  width: 198px;
}
.form__btn {
  background-color: #fff;
  padding: 23px 54px 12px;
}

.footer {
  background-color: #292e36;
  color: #fff;
}
.footer__top {
  padding: 100px 40px 24px;
  padding-bottom: 24px;
}
.footer__logo-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.footer__logo-wrap_text {
  padding-top: 120px;
}
.header__icons_position {
  position: relative;
}
.icons__item {
  position: absolute;
}
.icons__item_1 {
  top: 100px;
  right: 130px;
}
.icons__item_2 {
  top: 128px;
  right: 88px;
}
.icons__item_3 {
  top: 66px;
  right: 0px;
}
.icons__item_4 {
  top: 156px;
  right: 42px;
}
.footer__about {
  display: flex;
  justify-content: space-between;
}
.contact-wrap {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
}
address {
  font-family: Josefin Sans, sans-serif;
  font-style: normal;
}
.contacts {
  display: flex;
  flex-direction: column;
  color: #e1b168;
  font-size: 19px;
}
.form-wrap {
  text-align: center;
}
.form-footer {
  margin-top: 25px;
  margin-bottom: 92px;
}
.form-footer__input {
  width: 456px;
  height: 68px;
  padding: 17px 24px 18px;
  background-color: transparent;
  outline: none;
  border: 1px solid #858585;
  cursor: pointer;
  font-family: Josefin Sans, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.form-footer__input::placeholder {
  font-family: Josefin Sans, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.form-footer__btn {
  padding: 17px 39px 18px 40px;
  cursor: pointer;
  border: none;
  margin-left: -6px;
  width: 208px;
}
.form-footer label {
  display: inline-block;
  width: 456px;
  height: 68px;
}

.hours {
  text-align: right;
}
.hours__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-top: 30px;
}
.hours__item {
  display: flex;
}
.hours__days {
  color: #e1b168;
  margin-right: 10px;
}

.footer__bottom {
  display: inline-flex;
  gap: 385px;
  padding: 25px 0 25px 18px;
  padding-bottom: 24px;
  border-top: 1px solid #575b62;
  overflow: hidden;
}
.copyright {
  display: flex;
  width: 664px;
}
.copyright span {
  color: #e1b168;
  margin-left: 3px;
}
.footer-nav {
  display: -webkit-box;
  gap: 20px;
  color: #e1b168;
}
